@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: rgb(239, 237, 237);
}

.title{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
}

.container-fluid {
    position: absolute;
    top: 60px;
}

.element {
    position: relative;
    height: 1000px;
    width: 1px;
    overflow: hidden;
    background-color: white;
    margin-top: 10px;
}

.element.active {
    width: 100%;
    opacity: 1;
    transition: opacity 1s, width 2s;
}

.container-fluid{
    position: relative;
    width: 100%;
    height: 100%;
}

.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 800px;
	}
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 500px;
	}
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 300px;
	}
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

.title-img {
    display: block;
    height: auto;
    max-width: 100%;
  }

figure figcaption {
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    align-items: center;
    justify-content: center;
    
  }
  .decorator {
    position: absolute;
    top: 15%;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
  }

  .subtitle{
    font-size: 1.5em;/* フォントサイズ */
    font-weight: bold;/* フォント太さ */
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    position: relative;
    margin: 3em 0 2em;
    color:#19191a;/* フォント色 */
    }
    
    .subtitle:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: repeating-linear-gradient(90deg, #1b1b1c 0%,rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    left: 0;
    z-index: 0;
    }

    .img-wrap {
        position: absolute;
        top: 20%;
        bottom: 10px;
        height: 50%;
        width: 1px;
        overflow: hidden;
        opacity: 0; 
    } 
    
    .img-wrap.active {
        width: 100%;
        opacity: 1;
        transition: opacity 0.5s, width 1s;
    }
    
.img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.0);
}

.content {
    position: absolute;
    top: 75%;
    font-size: 1.2em
} 

.title-wrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.title-wrapper h1{
    position: relative;
}
    

h1:before {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: -10px; /*下線の上下の位置*/
    left: 50%;
    width: 30px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%); /*位置の調整*/
    background-color: #666666; /*下線の色*/
}

.card {
    margin-bottom: 100px;
}

.card-body a {
    font-size: 24px;
} 
.card-body p {
    font-size: 24px;
} 

/* .work-wrapper {
    position: relative;
    margin: 5px;
    height: 40vw;
    width: 100%;
    text-align: center;
}

.work-img {
    position: absolute;
    top:10%;
    bottom: 10%;
    left: 20%;
    width: 60%;
    height: 100%;
}

.work-title {
    position: relative;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.work-img.right {
    position: absolute;
    top:0;
    left: 0;
    width: 60%;
    background-size: cover;
    background-position: center;
    transform: scale(1.0);
    left: 100%;
    transform: translate(-100%);
} 

.right {
    left: 100%;
    transform: translate(-100%);
}

.left {
    right: 100%;
    transform: translate(-100%);
}

.work-title {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.work-title a {
    position: absolute;
    top: 100px;
    left: 10%;
    font-size: 24px;
} 



 */